[submodule "QuoteVerification/QVL"]
	path = QuoteVerification/QVL
	url = ../confidential-computing.tee.dcap.qvl.git
	branch = .
[submodule "external/wasm-micro-runtime"]
	path = external/wasm-micro-runtime
	url = https://github.com/bytecodealliance/wasm-micro-runtime.git
	branch = release/2.4.x
[submodule "external/jwt-cpp"]
	path = external/jwt-cpp
	url = https://github.com/Thalhammer/jwt-cpp.git
	# Build applies 0001-Add-a-macro-to-disable-time-support-in-jwt-for-SGX.patch
	# in-place (ae/qae/Makefile, ae/QvE/Makefile), modifying jwt.h and defaults.h.
	# ignore = dirty prevents these expected modifications from showing in git status.
	ignore = dirty
[submodule "external/gtest/src"]
	path = external/gtest/src
	url = https://github.com/google/googletest.git
	branch = v1.16.x
[submodule "QuoteGeneration/pccs"]
	path = QuoteGeneration/pccs
	url = ../confidential-computing.tee.dcap.pccs.git
	branch = .
[submodule "tools/PoeTools"]
	path = tools/PoeTools
	url = ../confidential-computing.tee.dcap.poe.git
	branch = .
